.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    background: #525864;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: white;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit {

  position: relative;
  display: block;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.btnSubmit:hover {
  background-color: transparent;
  border-color: #fff;
  transition: all .1s ease-in-out;
}

.btnSubmit:disabled{
  background-color: gray;
  border-color: gray;
  transition: all .1s ease-in-out;
  cursor: help;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

input.ng-valid.ng-touched {

  border-color: green;
}

.variable{
  color: red;
}
