<div class="container">
  <h1>Angular HttpClient</h1>

  <div class="card">
    <div class="form-control">
      <input [(ngModel)]="todoTitle" type="text" placeholder="Название">
    </div>
    <button (click)="addTitle()" class="btn">Add</button>
    <button (click)="fetchTodo()" class="btn">Load</button>
  </div>

  <hr>

  <div *ngIf="!loading; else loadingShow">
    <div *ngIf="todos.length; else noTodos">
      <div class="card" *ngFor="let todo of todos">
        <p>
          <span [class.completed]="todo.completed" >{{todo.title}}</span>
          <span>
            <button class="btn btn-danger" (click)="delete(todo.id)">Delete</button>
            <button class="btn" (click)="complete(todo.id)" [disabled]="todo.completed" >Complete</button>
          </span>
        </p>
      </div>
    </div>
  </div>
  <ng-template #loadingShow>
    Loading.......
  </ng-template>
  <ng-template #noTodos>
    Empty
  </ng-template>
</div>



